<section class="hero-unit">
<h2>Get Ready to Pillage with Pillager!</h2>

<form class="form-inline"> 
  <div class="input-prepend input-append">
    <div id="http-methods" class="btn-group">
      <button class="btn btn-large dropdown-toggle"
        data-toggle="dropdown">HTTP Methods <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">GET</a></li>
            <li><a href="#">POST</a></li>
            <li><a href="#">PUT</a></li>
            <li><a href="#">DELETE</a><li>
            <li class="divider"></li>
            <li><a href="#">PATCH</a><li>
            <li><a href="#">OPTIONS</a><li>
          </ul>
        </div>
      <input id="endpoint-url" class="span8">
      <button id="press-play" class="btn btn-large btn-inverse">
        <i class="icon-play icon-white"></i>
      </button>
  </div>
</form>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#request" data-toggle="tab">Request</a>
  </li>
  <li>
    <a href="#response" data-toggle="tab">Response</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="request">
    <pre class="prettyprint">
      {
        "string":"success",
        "boolean":true,
        "number":1,
        "data":["a","b","c"]
      }</pre>
  </div>
  <div class="tab-pane" id="response">
    <pre class="prettyprint">
      {
        "string":"success",
        "boolean":true,
        "number":1,
        "data":["a","b","c"]
      }</pre>
  </div>
</div>

</section>
<section class="row">
  <table class="table table-bordered table-striped span12">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          HelloEndpoint
        </td>
        <td>
          Hello World!
        </td>
      </tr>
    </tbody>
  </table>
</section>
