<section class="hero-unit">
<h2>Get Ready to Pillage with Pillager!</h2>

<form class="form-inline"> 
  <div class="input-prepend input-append">
    <div id="http-methods" class="btn-group">
      <button class="btn btn-large dropdown-toggle"
        data-toggle="dropdown">HTTP Methods <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">GET</a></li>
            <li><a href="#">POST</a></li>
            <li><a href="#">PUT</a></li>
            <li><a href="#">DELETE</a><li>
            <li class="divider"></li>
            <li><a href="#">PATCH</a><li>
            <li><a href="#">OPTIONS</a><li>
          </ul>
        </div>
      <input id="endpoint-url" class="span8">
      <button id="press-play" class="btn btn-large btn-inverse"><i
          class="icon-play icon-white"></i></button>
  </div>
</form>

<div id="info" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#info" href="#request-output">Request</a>
    </div>      
    <div id="request-output" class="accordion-body collapse">
      <pre class="accordion-inner"></pre>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#info" href="#response-output">Response</a>
    </div>      
    <div id="response-output" class="accordion-body collapse">
      <pre class="accordion-inner"></pre>
    </div>
  </div>
</div>
</section>
<section class="row-fluid">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          HelloEndpoint
        </td>
        <td>
          Hello World!
        </td>
      </tr>
    </tbody>
  </table>
</section>
